/*++++++++++++++++++++++++++++++++++++++++++++ fonts ++++++++++++++++++++++++++++++++++++++++++++*/
@font-face{
    font-family: imprint;
    src: url("assets/typo/ImprintMTShadow.ttf");
}
@font-face{
    font-family: poppin;
    src: url("assets/typo/Poppins-Regular.ttf");
}
@font-face{
    font-family: emberly;
    src: url("assets/typo/Emberly-SemiBold.ttf");
}
/*++++++++++++++++++++++++++++++++++++++++++++ main page style ++++++++++++++++++++++++++++++++++++++++++++*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
header{
    position: relative;
    z-index: 50;
    background-color: #fff;

}
.header-container{
    overflow: hidden;
    height: 120px;
    display: flex;
    justify-content: space-between;
    box-shadow: black 2px 2px 30px;
}
.logo{
    width: 400px;
}
.text-container{
    font-size: 60px;
    font-weight:300;
    width: 300px;
    animation: 3s text infinite;
}
.text-header{
    margin: 30px;
    font-family: emberly;
}
.phone-menu{
    display: none;
}
h1{
    text-align: center;
    margin: 40px 0;
}
.inner-container{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.section-buscador{
    display: flex;
    justify-content:center ;
    width: 85%;
    padding: 70px;
}
.phone-section-buscador{
    display: none;
}
.sections{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sections label{
    margin-bottom: 7px;
}
.resultado{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.resultado p{
    padding: 20px 0;
}
select{
    border: none;
    border-radius: 5px;
    box-shadow: 0px 3px 8px ;
    padding: 5px;
    margin: 0 6px;
}
option{
    margin: 50px 0;
}
.carros-container{
    width: 30%;
    margin: 10px;
}
.car-images{
    width: 100%;
}
p{
    font-family: poppin;
}
/*++++++++++++++++++++++++++++++++++++ maclaren animation ++++++++++++++++++++++++++*/
.mclaren-container{
    position: fixed;
    bottom: 0;
}
.mclaren-inner-container{
    position: relative;
    z-index: 4;
}
.mclaren{
    width: 150px;
    transition: all .5s ease-out;
}
.caucho{
    position: absolute;
    width: 25px;
    bottom: 5px;
    transition: all .5s ease-out;
}
#c1{
    left: 104px;
}
#c2{
    left: 13px;
}
.meta{
    width: 85px;
    position: fixed;
    bottom: -10px;
    right: 0;
}
#detras-meta{
    z-index: -1;
}
#frente-meta{
    z-index: 7;
}


/*++++++++++++++++++++++++++++++++++++ animation ++++++++++++++++++++++++++++++++++++*/

@keyframes text {
    25%{
        transform: translateY(0px);

    }50%{
        transform: translateY(-90px);

    }75%{   
        transform: translateY(-180px);

    }100%{
        transform: translateY(-270px);

    }
}
.first-rotation{
    animation: phone-menu-first-rotation .7s;
    animation-fill-mode: forwards;
}
@keyframes phone-menu-first-rotation {
    0%{

    }100%{
        transform: rotateZ(45deg);
        margin: 0;
    }
}
.first-rotationB{
    animation: phone-menu-first-rotationB .7s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}
@keyframes phone-menu-first-rotationB {
    0%{

    }100%{
        transform: rotateZ(45deg);
        margin: 0;
    }
}
.second-rotation{
    animation: phone-menu-second-rotation .7s;
    animation-fill-mode: forwards;
}
@keyframes phone-menu-second-rotation {
    0%{

    }100%{
        transform: rotateZ(-45deg);
        margin: 0;
    }
}
.second-rotationB{
    animation: phone-menu-second-rotationB .7s;
    animation-direction: reverse;
    animation-fill-mode: forwards;
}
@keyframes phone-menu-second-rotationB {
    0%{

    }100%{
        transform: rotateZ(-45deg);
        margin: 0;
    }
}
.less-width{
    animation: w-less 1s;
    animation-fill-mode: forwards;
}
@keyframes w-less {
    0%{

    }100%{
        width: 0;
    }
}
.less-widthB{
    animation: w-lessB 1s;
    animation-fill-mode: forwards;
    animation-direction: reverse;
}
@keyframes w-lessB {
    0%{

    }100%{
        width: 0;
    }
}

/*++++++++++++++++++++++++++++++++++++++++++++ media query ++++++++++++++++++++++++++++++++++++++++++++*/


@media screen and (max-width:480px){    
    .header-container{
        height: auto;
        padding: 10px 5px;
    }
    .logo{
        width: 45%; 
    }
    .text-container{
        display:none;
    }
    .hide-up{
        height: 400px ;
        margin-top: -100%;
    }
    .section-buscador{
        flex-wrap: wrap;
        padding: 20px;
    }
    .section-buscador label{
        margin-top: 10px;
    }

    .carros-container{
        width: 100%;
    }

    .mclaren{
        width: 100px;
    }
    .caucho{
        width: 17px;
    }
    #c1{
        left: 69px;
    }
    #c2{
        left: 8px;
    }
    .meta{
        width: 60px;
    }

    /*+++++++++++++++++++++++++ phone menu +++++++++++++++++++++++++*/
    .phone-menu{
        display: flex;
    }
    .lines-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80px;

    }
    .lines{
        position: absolute;
        width: 40px;
        height: 3px;
        background-color: #000;
        border-radius: 80px;
    }
    #l1{
        margin-bottom: 12px;

    }
    #l3{
        margin-top: 14px;
    }
}

@media screen and (min-width:480px) and (max-width:960px){
    .logo{
        width: 40%;
        height: 100px; 
    }
    header{
        height: auto;
    }
    .header-container{
        height: 100px;
    }
    .text-container{
        font-size: 45px;
        width: 220px;
    }
    .text-header{
        margin: 39px;
        font-family: emberly;
    }
    .section-buscador{
        flex-wrap: wrap;
        padding: 20px;
    }
    .section-buscador label{
        margin-top: 15px;
    }
}
/* menor que 320 muy pequeños

320 a 480

480 768

768-960

960- 1024-

1024-1328px